/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */
.jumbotron a:hover, a:focus {
    text-decoration: none;
}
.website-holder {
    overflow: auto;
    width: 100%;
    margin-top: 20px;
}
.website-holder .website {
    margin: 0 auto;
    text-align: center;
    width: 1000px;
    height: 1000px;
    background: url('http://placehold.it/1000x1000') no-repeat;
}
.website-holder .link-to-website {
    margin-top: 20px;
    margin-bottom: 10px;
}
.website-holder .vote-button {
    margin-top: 10px;
    padding: 0 100px;
    font-size: 50px;
}
.website-holder .website .website-half-image .overlay {
    background: rgba(0,0,0,0);
    text-align: center;
    height: 100%;
    opacity: 0;
    padding-top: 300px;
}
.website-holder .website .website-half-image {
    width: 50%;
    height: 100%;
    float: left;
    cursor: pointer;
}
.website-holder .website .website-half-image:hover .overlay {
    opacity: 1;
}
.character {
    font-family: Helvetica;
    font-weight: 900;
    color: rgba(255,255,255,.85);
    font-size: 96px;
    height: 100%;
}
.jumbotron .faq h3 {
    font-weight: bold;
}
.jumbotron .faq p {
    font-size: 16px;
}