<div class="faq">
    <h3>Who am I?</h3>
    <p>Hey, my name is <a href="http://si.linkedin.com/in/dperic/" target="_blank">Dražen</a>, I'm working as a web developer for <a href="http://www.astina.ch" target="_blank">Astina</a> and I'm writing my final exam at <a href="http://www.fri.uni-lj.si/en/" target="_blank">Faculty of Computer and Information Science</a> in Ljubljana. I also do bunch of other things, but that's irrelevant now.</p>
    <h3>Why do I need your help here?</h3>
    <p>As I mentioned, at the moment I'm working on my <strong>final exam</strong>. My topic is called <strong>"Modeling relation between technical parameters of web page design and its aesthetics"</strong> and this is basically also a short description that topic.<br>For this purpose, I need data that will help me to build my learning set, which I'll be using in later stages. To get this data, I need you and I need your ratings.</p>
    <h3>And how does it work?</h3>
    <p>So, here I basically have a set of 600 websites which have to be evaluated. What I'm asking you is one simple thing - when you see a website, just tell me whether you like it or not - click on the buttons, or click on the left (don't like) or on the right (like) side of the image - do not evaluate whether website is functional or not, <strong>just tell if you like the page visually or not</strong>. After you vote for one page, it gets disappeared and another one appears - so it's a basically a "Hot or Not" for websites :)</p>
    <h3>What's the deal with Facebook login? What about my data?</h3>
    <p>Well the answer it's simple - I'm using Facebook login because it was the simplest solution and I didn't need to deal with user registrations, profiles and so on. So basically, with Facebook login, the only data that's stored in this application is just your name which will not be used anywhere.</p>
</div>
